
.APropos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.allCollaspse{
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 1024px;
    width: 100%;
}