.p404{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FF6060 ;

    .erreur404{
        font-weight: 700;
        font-size: 288px;
       
    }

    .textOups{
        font-size: 36px;
        margin: 113px 56px 139px 56px;
        text-align: center;
    }


    button{
        font-size: 18px; 
        margin-bottom: 129px;
        cursor: pointer;
        padding: 10px;
        color: #FF6060;
        border: none;
        background-color: #FFFF;
        font-family: Montserrat;
    }

    button:hover{
        background-color: #F6F6F6;
        color: #ff1414;
        border-radius: 20px;
        text-decoration: underline;
    }


}





@media (max-width: 1024px) {
   
    .p404{
        .erreur404{
            font-size: 192px;
        }

        .textOups{
            font-size: 24px;
        }
    }
  }


  
@media (max-width: 520px) {
   
    .p404{
        .erreur404{
            font-size: 96px;
        }
        
        .textOups{
            font-size: 18px;
        }

        button{
            font-size: 14px;
        }
    }
  }